section.signup {
    padding: 0 16px;
    max-width: calc(var(--max-width) * .67);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: stretch;
    min-height: 128px;
    margin-bottom: 128px;

    flex-flow: column nowrap;

    input#newsletter {
        width: 100%;
        margin-bottom: 16px;
    }

    label[for="newsletter"] {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
    }

    button {
        white-space: nowrap;
    }
}

@media screen and (min-width: 640px) {
    section.signup {
        flex-flow: row nowrap;
        
        input#newsletter {
            margin-bottom: 0;
        }
    }
}