section.signup {
    padding: 0 16px;
    max-width: calc(var(--max-width) * .67);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: stretch;
    min-height: 128px;
    margin-bottom: 128px;

    #mc_embed_signup {
        width: 100%;

        #mc_embed_signup_scroll {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: stretch;
            flex-flow: column nowrap;
        }

        
        input[type="email"] {
            width: 100%;
            margin-top: 12px;
            margin-bottom: 16px;
        }
    }



    label[for="newsletter"] {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
    }

    button {
        white-space: nowrap;
    }
}

@media screen and (min-width: 640px) {
    section.signup {

        #mc_embed_signup #mc_embed_signup_scroll {
            label {
                width: 100%;
                text-align: center;
            }
            input[type="email"] {
                width: 67%;
            }
            input[type="submit"] {
                margin-top: 12px;
                margin-bottom: 16px;
            }
            flex-flow: row wrap;
        }
        
        input#newsletter {
            margin-bottom: 0;
        }
    }
}